/* CSS in header part */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: monospace;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);


}

nav ul {
    display: flex;
    justify-content: center;

}

nav ul li {
    list-style: none;
    margin: 0 23px;
    font-size: 1rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul :hover {
    color: rgb(255, 255, 255);
    font-size: 1.04rem;
}

.left {
    font-size: 1.8rem;
}



/* CSS For First Section */
.firstSection {
    display: flex;
    justify-content: space-around;
    margin: 80px 0;

}

.firstSection>div {
    width: 30%;

}

.leftSection {
    font-size: 3rem;
    margin: 70px 0;
}

.leftSection button {
    padding: 50px 0;
}

.leftSection .btn {
    padding: 12px;
    background-color: rgb(14, 14, 78);
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

.rightSection img {
    width: 69%;
    height: 63%;
    border-radius: 50%;
    margin-top: 30px;
}

.purple {
    color: rgb(170, 107, 228);

}

#element {
    color: rgb(170, 107, 228);
}



/* CSS For Second Section */
.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.text-grey {
    color: grey;
    font-size: large;
}

.image {
    float: left;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    height: 350px;
    width: 398px;
}

.text {
    font-size: 24px;
    display: flex;
    float: right;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 400;
    font-size: 3rem;
}

p {
    margin-top: revert;
}

li {
    float: right;
    color: #adadeb;
}


/* Skill Section */
.skillSection {
    margin: 110px 0;

}

.skillSection h1 {
    color: #fff;
    text-align: center;
}

* {
    box-sizing: border-box
}

/* Container for skill bars */
* p {
    margin-top: 80px 0;
    margin-left: 80px;
    font-size: 1rem;
}

.container {
    margin-top: 80px 0;
    margin-left: 80px;
    justify-content: space-evenly;
    width: 80%;
    background-color: white;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html {
    margin-top: 80px 0;
    width: 90%;
    background-color: #04AA6D;
}

.css {
    width: 85%;
    background-color: #2196F3;
}

.js {
    width: 80%;
    background-color: #f44336;
}

.php {
    width: 75%;
    background-color: #808080;
}



/* PROJECT SECTION */
.projects h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-style: bold;
    font-family: monospace;
    margin-left: 80px;
}

.projects h2{
    font-size: 1.8rem;
}
.projects {
    background-color: var(--bg-color);
    padding: 32px 0;
    margin-top: 2rem;
}

.project-pic {
    width: 80%;
    height: 60%;
}

.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects-title {
    text-align: center;
    margin-bottom: 1rem;
}

.project-container {
    text-align: center;
    width: 21.875rem;
    padding: 1.5rem;
    color: black;

}

.project-container p {
    padding: 0.4rem;
    color: black;
    font-weight: 600;
    margin-left: 12px;

}

.project-title {
    margin-bottom: var(--bottom-margin);
} 

.project-details {
    margin-bottom: var(--bottom-margin);
}

.project-card {
    background-color: #c4dcd8;
    border-radius: 52px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 12px;
    margin: 25px;
}

a {
    font-weight: 800;
    color: #112b7a;
}




/* Contact Section */
.contact {
    margin-top: 2rem;
}

.contact h2 {
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
    line-height: 2.7em;
    color: white;
    font-size: 1rem;
}

.contact-form-container textarea {
    min-height: 6.25rem;
    font-size: 14px;
}

input[type="text" i] {
    padding-block: 10px;
    padding-inline: 10px;
}

input[type="email" i] {
    padding-block: 10px;
    padding-inline: 10px;
}


.contact-form-container .input-field {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    outline: none;
}

.input-field::placeholder {
    padding: 1rem;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #8278f4;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: var(--bold-font);
    transition: var(--transition);
}

.submit-btn:hover {
    color: white;
    background-color: #2196F3;
    cursor: pointer;
}




/* Third Section */

.thirdSection {
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
    margin-top: 10px;

}

.thirdSection .fa:hover {
    opacity: 0.9;
}

.thirdSection .fa-linkedin {
    background: #0077B5;
    color: white;
    margin: 80px 0;
}

.thirdSection .fa-facebook {
    background: #1877F2;
    color: white;
}

.thirdSection .fa-instagram {
    color: white;
    background: radial-gradient(circle at 30% 110%,
            #ffdb8b 0%,
            #ee653d 25%,
            #d42e81 50%,
            #a237b6 75%,
            #3e57bc 100%);
}

.thirdSection .fa-twitter {
    background: #1877F2;
    color: white;
    justify-content: space-evenly;
    padding: 15px;
}

.thirdSection .fa {
    padding: 13px;
    font-size: 40px;
    width: 60px;
    text-decoration: none;
    margin: 5px 80px;
    margin-top: 37px;
}

.thirdSection {
    color: white;
    margin: 80px 0;
}

.thirdSection h3 {
    font-size: 2rem;
}



/* Footer part */
footer {
    background-color:rgb(12, 6, 60);
    padding: 1.25rem;
    text-align: center;
    margin: 2rem 0 0;
  }
  footer a{
    color: white;
  }
  